* {

}

:root {
    --main-text-color: rgb(255, 255, 255);
    --header-footer-color: rgb(22, 66, 13);
    --main-background-color: rgb(142, 179, 142);
    --nav-background-color: rgb(93, 139, 88);
    --content-font-size: 2.5rem;
}


body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--main-text-color);
    background-color: var(--main-background-color);
}

.header {
    background-color: var(--header-footer-color);
    padding-top: 3%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4rem;
    color: var(--main-text-color);
    text-align: center;
}

nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: var(--nav-background-color);
    padding-bottom: .05%;
    justify-content: space-evenly;
}

nav button a {
    color: var(--main-text-color);
    text-decoration: none;
    margin-right: auto;
    margin-left: auto;
}

button {
    width: 25%;
    margin-top: .10%;
    margin-bottom: .15%;
    padding-top: .3%;
    padding-bottom: .2%;
    font-size: 2.5rem;
    background-color: #42842e;
    border: .12vw solid rgb(22, 66, 13);
}

button:hover {
    background-color: rgb(22, 66, 13);
}

.row {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 5%;
}

.row h2 {
    padding-left: 4%;
    padding-top: .2%;
    border-right: .35vw solid #42842e;
    flex: 0 0 27%;
}

.row p {
    margin-left: 5%;
    margin-top: 2.4%;
    margin-bottom: 3%;
}


h2 {
    font-size: 4.4rem;
}

p,
a {
    font-size: var(--content-font-size);
}

.p-1 {
    max-width: 56.7%;
}

.p-3 {
  max-width: 100%;
  display: flex;
  flex: auto;
}

#img1 { 
    width: 82.5%;
    margin-left: 2.2%;
    margin-top: 2%;
    border: 1vw solid #42842e;
    border-style: groove;
} 

#img2 {
    width: 39%;
    margin-left: 2.2%;
    margin-top: .1%;
    border: 1vw solid #42842e;
    border-style: groove;
}

#img3 {
    width: 34%;
    margin-left: 6%;
    margin-top: .1%;
    border: 1vw solid #42842e;
    border-style: groove;
}

.a-1 {
    font-size: 2.5rem;
    text-decoration: none;
    color: inherit;
    border-bottom: .3vw solid #42842e;
}

.a-2 {
    font-size: 2.5rem;
    text-decoration: none;
    color: inherit;
    margin-left: 5%;
    border-bottom: .3vw solid #42842e;
}

.a-3 {
    font-size: 2.5rem;
    text-decoration: none;
    color: inherit;
    margin-left: 5%;
    border-bottom: .3vw solid #42842e;
}

.footer {
    background-color: var(--header-footer-color);
    color: var(--main-text-color);
    padding-top: 3%;
}
