/* MAIN COLORS & FONT SIZES */
:root {
    --main-text-color: rgb(255, 255, 255);
    --header-footer-color: rgb(22, 66, 13);
    --main-background-color: rgb(142, 179, 142);
    --nav-background-color: rgb(93, 139, 88);
    --content-font-size: 1.5rem;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--main-text-color);
    background-color: var(--main-background-color);
}

/* HEADER */
.header-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: var(--header-footer-color);
}

.header-info {
    padding-top: 3%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    color: var(--main-text-color);
    text-align: center;
}

.header-img {
    max-width: 30%;
    align-self: center;
}

/* NAV */
nav {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--nav-background-color);
    padding-bottom: .05%;
    justify-content: space-evenly;
}

nav button a {
    color: var(--main-text-color);
    text-decoration: none;
    font-size: 1.5rem;
}

button {
    width: 25%;
    margin-top: .10%;
    margin-bottom: .15%;
    padding-top: .3%;
    padding-bottom: .2%;
    background-color: #42842e;
    border: .12vw solid rgb(22, 66, 13);
}

button:hover {
    background-color: rgb(22, 66, 13);
}

/* ALL SECTIONS */
main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

/* ABOUT ME */
.about-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 5%;
}

.h2-about-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 5%;
    border-right: .35vw solid #42842e;
    font-size: 3rem;
    max-width: 100%;
}

h2 {
    width: 50%;
}

.p-about-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: var(--content-font-size);
    margin-left: 5%;
    width: 100%;
}

/* PROJECTS */
.projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 5%;
}

.h2-projects-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 5%;
    padding-bottom: 100%;
    border-right: .35vw solid #42842e;
    font-size: 3rem;
}

.images-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: var(--content-font-size);
    width: 100%;
    margin-left: 5%;
}

/* LARGE IMG ROW */
.large-img-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 100%;
}

.large-img {
    background-image: url(../images/Meal2Reel-Empty-SC.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 250px;
    border: 1vw solid #42842e;
    border-style: groove;
}

/* 1ST SMALL IMG ROW */
.small-img-container-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img-1-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 45%;
}

.small-img-1 {
    background-image: url(../images/LeeQuotes.com-SC.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    border: 1vw solid #42842e;
    border-style: groove;
    margin-top: 10%;
}

.img-2-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 45%;
}

.small-img-2 {
    background-image: url(../images/Mandela-Effect-Challenge.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    border: 1vw solid #42842e;
    border-style: groove;
    margin-top: 10%;
}

/* 2ND SMALL IMG ROW */
.small-img-container-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img-3-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 45%;
}

.small-img-3 {
    background-image: url(../images/Note-Taker-sc.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    border: 1vw solid #42842e;
    border-style: groove;
    margin-top: 10%;
}

.img-4-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 45%;
}

.small-img-4 {
    background-image: url(../images/Work-Day-Scheduler-SC.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    border: 1vw solid #42842e;
    border-style: groove;
    margin-top: 10%;
}

/* 3RD SMALL IMG ROW */
.small-img-container-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img-5-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 45%;
}

.small-img-5 {
    background-image: url(../images/Weather-Dashboard-SC.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    border: 1vw solid #42842e;
    border-style: groove;
    margin-top: 10%;
}

.img-6-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 45%;
}

.small-img-6 {
    background-image: url(../images/Random-Pass-Gen-sc.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    border: 1vw solid #42842e;
    border-style: groove;
    margin-top: 10%;
}

/* 4TH SMALL IMG ROW */
.small-img-container-4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img-7-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 45%;
}

.small-img-7 {
    background-image: url(../images/README-gen-SC.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    border: 1vw solid #42842e;
    border-style: groove;
    margin-top: 10%;
}

.img-8-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 45%;
}

.small-img-8 {
    background-image: url(../images/SVG-gen-sc.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    border: 1vw solid #42842e;
    border-style: groove;
    margin-top: 10%;
}

/* 5TH SMALL IMG ROW */
.small-img-container-5 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img-9-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 45%;
}

.small-img-9 {
    background-image: url(../images/peace-lily1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    border: 1vw solid #42842e;
    border-style: groove;
    margin-top: 10%;
}

.img-10-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 45%;
}

.small-img-10 {
    background-image: url(../images/peace-lily2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    border: 1vw solid #42842e;
    border-style: groove;
    margin-top: 10%;
}

/* ALL IMGS TITLES */
.img-title {
    background-color: var(--header-footer-color);
    padding: 1%;
    display: flex;
    align-items: center;
}

.img-text {
    color: var(--main-text-color);
    text-decoration: none;
    font-size: var(--content-font-size);
}

/* CONTACT ME */
.contact-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 5%;
}

.h2-contact-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 5%;
    border-right: .35vw solid #42842e;
    font-size: 3rem;
}

.contact-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: var(--content-font-size);
    margin-left: 5%;
    width: 100%;
}

.anchors {
    display: block;
}

#a-1,
#a-3 {
    font-size: 1.5rem;
    text-decoration: none;
    border-bottom: .3vw solid #42842e;
}

#a-2 {
    font-size: 1.5rem;
    text-decoration: none;
    color: inherit;
    border-bottom: .3vw solid #42842e;
}

/* FOOTER */
.footer {
    background-color: var(--header-footer-color);
    color: var(--main-text-color);
    padding-top: 3%;
}

/* RESPONSIVENESS */

/* XXS */
@media (min-width: 300px) and (max-width: 400px) {
    .header-info {
        font-size: 2rem;
    }
    nav button a {
        font-size: .6rem;
    }
    .about-container,
    .projects-container,
    .contact-container {
        flex-direction: column;
    }
    .h2-about-col,
    .h2-contact-col {
        flex-direction: row;
        flex-wrap: nowrap;
        font-size: 1.3rem;
        border-right: none;
        justify-content: center;
    }
    .h2-projects-col {
        flex-direction: row;
        flex-wrap: nowrap;
        font-size: 1.3rem;
        border-right: none;
        justify-content: center;
        padding-bottom: 0%;
    }
    .p-about-col,
    .contact-col {
        flex-direction: row;
        flex-wrap: nowrap;
        font-size: .85rem;
        border-top: 1vw solid #42842e;
        margin-left: 0%;
        padding-top: 5%;
    }
    .images-col {
        flex-direction: column;
        flex-wrap: nowrap;
        font-size: .85rem;
        border-top: 1vw solid #42842e;
        margin-left: 0%;
        padding-top: 5%;
    }
    h2 {
        width: 100%;
    }
    .large-img-container {
        margin-top: 5%;
    }
    .large-img {
        height: 150px;
        border: 2vw solid #42842e;
        border-style: groove;
    }
    .small-img-container-1,
    .small-img-container-2,
    .small-img-container-3 {
        flex-direction: column;
    }
    .img-1-container,
    .img-2-container,
    .img-3-container,
    .img-4-container,
    .img-5-container,
    .img-6-container,
    .img-7-container,
    .img-8-container,
    .img-9-container,
    .img-10-container {
        width: 100%;
        margin-top: -5%;
    }
    .small-img-1,
    .small-img-2,
    .small-img-3,
    .small-img-4,
    .small-img-5,
    .small-img-6,
    .small-img-7,
    .small-img-8,
    .small-img-9,
    .small-img-10 {
        height: 100px;
        border: 2vw solid #42842e;
        border-style: groove;
    }
    .img-text {
        font-size: 1rem;
    }
    #a-1,
    #a-2,
    #a-3 {
    font-size: .85rem;
    border-bottom: .5vw solid #42842e;
}
}

/* XS */
@media (min-width: 401px) and (max-width: 500px) {
    .header-info {
        font-size: 2.5rem;
    }
    nav button a {
        font-size: .8rem;
    }
    .about-container,
    .projects-container,
    .contact-container {
        flex-direction: column;
    }
    .h2-about-col,
    .h2-contact-col {
        flex-direction: row;
        flex-wrap: nowrap;
        font-size: 1.6rem;
        border-right: none;
        justify-content: center;
    }
    .h2-projects-col {
        flex-direction: row;
        flex-wrap: nowrap;
        font-size: 1.6rem;
        border-right: none;
        justify-content: center;
        padding-bottom: 0%;
    }
    .p-about-col,
    .contact-col {
        flex-direction: row;
        flex-wrap: nowrap;
        font-size: 1rem;
        border-top: 1vw solid #42842e;
        margin-left: 0%;
        padding-top: 5%;
    }
    .images-col {
        flex-direction: column;
        flex-wrap: nowrap;
        font-size: 1rem;
        border-top: 1vw solid #42842e;
        margin-left: 0%;
        padding-top: 5%;
    }
    h2 {
        width: 100%;
    }
    .large-img-container {
        margin-top: 5%;
    }
    .large-img {
        height: 200px;
        border: 2vw solid #42842e;
        border-style: groove;
    }
    .small-img-container-1,
    .small-img-container-2,
    .small-img-container-3 {
        flex-direction: column;
    }
    .img-1-container,
    .img-2-container,
    .img-3-container,
    .img-4-container,
    .img-5-container,
    .img-6-container,
    .img-7-container,
    .img-8-container,
    .img-9-container,
    .img-10-container {
        width: 100%;
        margin-top: -5%;
    }
    .small-img-1,
    .small-img-2,
    .small-img-3,
    .small-img-4,
    .small-img-5,
    .small-img-6,
    .small-img-7,
    .small-img-8,
    .small-img-9,
    .small-img-10 {
        height: 150px;
        border: 2vw solid #42842e;
        border-style: groove;
    }
    .img-text {
        font-size: 1rem;
    }
    #a-1,
    #a-2,
    #a-3 {
    font-size: 1rem;
    border-bottom: .5vw solid #42842e;
}
}

/* S */
@media (min-width: 501px) and (max-width: 600px) {
    .header-info {
        font-size: 2.7rem;
    }
    nav button a {
        font-size: .95rem;
    }
    .about-container,
    .projects-container,
    .contact-container {
        flex-direction: column;
    }
    .h2-about-col,
    .h2-contact-col {
        flex-direction: row;
        flex-wrap: nowrap;
        font-size: 1.8rem;
        border-right: none;
        justify-content: center;
    }
    .h2-projects-col {
        flex-direction: row;
        flex-wrap: nowrap;
        font-size: 1.8rem;
        border-right: none;
        justify-content: center;
        padding-bottom: 0%;
    }
    .p-about-col,
    .contact-col {
        flex-direction: row;
        flex-wrap: nowrap;
        font-size: 1.15rem;
        border-top: 1vw solid #42842e;
        margin-left: 0%;
        padding-top: 5%;
    }
    .images-col {
        flex-direction: column;
        flex-wrap: nowrap;
        font-size: 1.5rem;
        border-top: 1vw solid #42842e;
        margin-left: 0%;
        padding-top: 5%;
    }
    h2 {
        width: 100%;
    }
    .large-img-container {
        margin-top: 5%;
    }
    .large-img {
        height: 250px;
        border: 2vw solid #42842e;
        border-style: groove;
    }
    .small-img-container-1,
    .small-img-container-2,
    .small-img-container-3 {
        flex-direction: column;
    }
    .img-1-container,
    .img-2-container,
    .img-3-container,
    .img-4-container,
    .img-5-container,
    .img-6-container,
    .img-7-container,
    .img-8-container,
    .img-9-container,
    .img-10-container {
        width: 100%;
        margin-top: -5%;
    }
    .small-img-1,
    .small-img-2,
    .small-img-3,
    .small-img-4,
    .small-img-5,
    .small-img-6,
    .small-img-7,
    .small-img-8,
    .small-img-9,
    .small-img-10 {
        height: 175px;
        border: 2vw solid #42842e;
        border-style: groove;
    }
    .img-text {
        font-size: 1.15rem;
    }
    #a-1,
    #a-2,
    #a-3 {
    font-size: 1.15rem;
    border-bottom: .5vw solid #42842e;
}
}

/* M */
@media (min-width: 601px) and (max-width: 700px) {
    .header-info {
        font-size: 2.7rem;
    }
    nav button a {
        font-size: .95rem;
    }
    .about-container,
    .projects-container,
    .contact-container {
        flex-direction: column;
    }
    .h2-about-col,
    .h2-contact-col {
        flex-direction: row;
        flex-wrap: nowrap;
        font-size: 1.8rem;
        border-right: none;
        justify-content: center;
    }
    .h2-projects-col {
        flex-direction: row;
        flex-wrap: nowrap;
        font-size: 1.8rem;
        border-right: none;
        justify-content: center;
        padding-bottom: 0%;
    }
    .p-about-col,
    .contact-col {
        flex-direction: row;
        flex-wrap: nowrap;
        font-size: 1.15rem;
        border-top: 1vw solid #42842e;
        margin-left: 0%;
        padding-top: 5%;
    }
    .images-col {
        flex-direction: column;
        flex-wrap: nowrap;
        font-size: 1.5rem;
        border-top: 1vw solid #42842e;
        margin-left: 0%;
        padding-top: 5%;
    }
    h2 {
        width: 100%;
    }
    .large-img-container {
        margin-top: 5%;
    }
    .large-img {
        height: 250px;
        border: 2vw solid #42842e;
        border-style: groove;
    }
    .small-img-container-1,
    .small-img-container-2,
    .small-img-container-3 {
        flex-direction: column;
    }
    .img-1-container,
    .img-2-container,
    .img-3-container,
    .img-4-container,
    .img-5-container,
    .img-6-container,
    .img-7-container,
    .img-8-container,
    .img-9-container,
    .img-10-container {
        width: 100%;
        margin-top: -5%;
    }
    .small-img-1,
    .small-img-2,
    .small-img-3,
    .small-img-4,
    .small-img-5,
    .small-img-6,
    .small-img-7,
    .small-img-8,
    .small-img-9,
    .small-img-10 {
        height: 175px;
        border: 2vw solid #42842e;
        border-style: groove;
    }
    .img-text {
        font-size: 1.15rem;
    }
    #a-1,
    #a-2,
    #a-3 {
    font-size: 1.15rem;
    border-bottom: .5vw solid #42842e;
}
}

/* M */
@media (min-width: 701px) and (max-width: 800px) {
    .header-info {
        font-size: 3rem;
    }
    nav button a {
        font-size: 1rem;
    }
    .about-container,
    .projects-container,
    .contact-container {
        flex-direction: row;
    }
    .h2-about-col,
    .h2-contact-col {
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 2rem;
        border-right: .6vw solid #42842e;
    }
    .h2-projects-col {
        flex-direction: row;
        flex-wrap: nowrap;
        font-size: 2rem;
        border-right: .6vw solid #42842e;
        justify-content: center;
        padding-bottom: 90%;
    }
    .p-about-col,
    .images-col,
    .contact-col {
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 1rem;
        margin-left: 5%;
    }
    h2 {
        width: 50%;
    }
    .large-img {
        height: 225px;
        border: 1vw solid #42842e;
        border-style: groove;
    }
    .small-img-container-1,
    .small-img-container-2,
    .small-img-container-3 {
        flex-direction: row;
        justify-content: space-between;
    }
    .img-1-container,
    .img-2-container,
    .img-3-container,
    .img-4-container,
    .img-5-container,
    .img-6-container,
    .img-7-container,
    .img-8-container,
    .img-9-container,
    .img-10-container {
        width: 45%;
    }
    .small-img-1,
    .small-img-2,
    .small-img-3,
    .small-img-4,
    .small-img-5,
    .small-img-6,
    .small-img-7,
    .small-img-8,
    .small-img-9,
    .small-img-10 {
        height: 100px;
        border: 1vw solid #42842e;
        border-style: groove;
    }
    .img-text {
        font-size: 1.1rem;
    }
    #a-1,
    #a-2,
    #a-3 {
    font-size: 1rem;
    border-bottom: .4vw solid #42842e;
    }
}

/* L */
@media (min-width: 801px) and (max-width: 900px) {
    .header-info {
        font-size: 3rem;
    }
    nav button a {
        font-size: 1rem;
    }
    .about-container,
    .projects-container,
    .contact-container {
        flex-direction: row;
    }
    .h2-about-col,
    .h2-contact-col {
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 2rem;
        border-right: .6vw solid #42842e;
    }
    .h2-projects-col {
        flex-wrap: nowrap;
        font-size: 2rem;
        border-right: .6vw solid #42842e;
        justify-content: center;
        padding-bottom: 135%;
    }
    .p-about-col,
    .images-col,
    .contact-col {
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 1.1rem;
        margin-left: 5%;
    }
    h2 {
        width: 50%;
    }
    .large-img {
        height: 250px;
        border: 1vw solid #42842e;
        border-style: groove;
    }
    .small-img-container-1,
    .small-img-container-2,
    .small-img-container-3 {
        flex-direction: row;
        justify-content: space-between;
    }
    .img-1-container,
    .img-2-container,
    .img-3-container,
    .img-4-container,
    .img-5-container,
    .img-6-container,
    .img-7-container,
    .img-8-container,
    .img-9-container,
    .img-10-container {
        width: 45%;
    }
    .small-img-1,
    .small-img-2,
    .small-img-3,
    .small-img-4,
    .small-img-5,
    .small-img-6,
    .small-img-7,
    .small-img-8,
    .small-img-9,
    .small-img-10 {
        height: 155px;
        border: 1vw solid #42842e;
        border-style: groove;
    }
    .img-text {
        font-size: 1.1rem;
    }
    #a-1,
    #a-2,
    #a-3 {
    font-size: 1.1rem;
    border-bottom: .4vw solid #42842e;
}
}

/* L */
@media (min-width: 901px) and (max-width: 1000px) {
    .header-info {
        font-size: 3rem;
    }
    .header-img {
        max-width: 25%;
    }
    nav button a {
        font-size: 1rem;
    }
    .about-container,
    .projects-container,
    .contact-container {
        flex-direction: row;
    }
    .h2-about-col,
    .h2-contact-col {
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 2rem;
        border-right: .5vw solid #42842e;
    }
    .h2-projects-col {
        flex-wrap: wrap;
        font-size: 2rem;
        border-right: .5vw solid #42842e;
        padding-bottom: 135%;
    }
    .p-about-col,
    .images-col,
    .contact-col {
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 1.1rem;
        margin-left: 5%;
    }
    h2 {
        width: 50%;
    }
    .large-img {
        height: 275px;
        border: 1vw solid #42842e;
        border-style: groove;
    }
    .small-img-container-1,
    .small-img-container-2,
    .small-img-container-3 {
        flex-direction: row;
        justify-content: space-between;
    }
    .img-1-container,
    .img-2-container,
    .img-3-container,
    .img-4-container,
    .img-5-container,
    .img-6-container,
    .img-7-container,
    .img-8-container,
    .img-9-container,
    .img-10-container {
        width: 45%;
    }
    .small-img-1,
    .small-img-2,
    .small-img-3,
    .small-img-4,
    .small-img-5,
    .small-img-6,
    .small-img-7,
    .small-img-8,
    .small-img-9,
    .small-img-10 {
        height: 160px;
        border: 1vw solid #42842e;
        border-style: groove;
    }
    .img-text {
        font-size: 1.1rem;
    }
    #a-1,
    #a-2,
    #a-3 {
    font-size: 1.1rem;
    border-bottom: .4vw solid #42842e;
}
}

/* XL */
@media (min-width: 1001px) and (max-width: 1200px) {
    .header-info {
        font-size: 3rem;
    }
    .header-img {
        max-width: 25%;
    }
    nav button a {
        font-size: 1rem;
    }
    .about-container,
    .projects-container,
    .contact-container {
        flex-direction: row;
    }
    .h2-about-col,
    .h2-contact-col {
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 2.1rem;
        border-right: .4vw solid #42842e;
    }
    .h2-projects-col {
        flex-wrap: wrap;
        font-size: 2.1rem;
        border-right: .4vw solid #42842e;
        justify-content: center;
        padding-bottom: 135%;
    }
    .p-about-col,
    .images-col,
    .contact-col {
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 1.2rem;
        margin-left: 5%;
    }
    h2 {
        width: 50%;
    }
    .large-img {
        height: 300px;
        border: 1vw solid #42842e;
        border-style: groove;
    }
    .small-img-container-1,
    .small-img-container-2,
    .small-img-container-3 {
        flex-direction: row;
        justify-content: space-between;
    }
    .img-1-container,
    .img-2-container,
    .img-3-container,
    .img-4-container,
    .img-5-container,
    .img-6-container,
    .img-7-container,
    .img-8-container,
    .img-9-container,
    .img-10-container {
        width: 45%;
    }
    .small-img-1,
    .small-img-2,
    .small-img-3,
    .small-img-4,
    .small-img-5,
    .small-img-6,
    .small-img-7,
    .small-img-8,
    .small-img-9,
    .small-img-10
     {
        height: 200px;
        border: 1vw solid #42842e;
        border-style: groove;
    }
    .img-text {
        font-size: 1.2rem;
    }
    #a-1,
    #a-2,
    #a-3 {
    font-size: 1.2rem;
    border-bottom: .4vw solid #42842e;
}
}

/* XL */
@media (min-width: 1201px) and (max-width: 1400px) {
    .header-info {
        font-size: 3rem;
    }
    .header-img {
        max-width: 25%;
    }
    nav button a {
        font-size: 1.2rem;
    }
    .about-container,
    .projects-container,
    .contact-container {
        flex-direction: row;
    }
    .h2-about-col,
    .h2-contact-col {
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 2.3rem;
        border-right: .4vw solid #42842e;
    }
    .h2-projects-col {
        flex-wrap: wrap;
        font-size: 2.3rem;
        border-right: .4vw solid #42842e;
        justify-content: center;
        padding-bottom: 135%;
    }
    .p-about-col,
    .images-col,
    .contact-col {
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 1.2rem;
        margin-left: 5%;
    }
    h2 {
        width: 50%;
    }
    .large-img {
        height: 375px;
        border: 1vw solid #42842e;
        border-style: groove;
    }
    .small-img-container-1,
    .small-img-container-2,
    .small-img-container-3 {
        flex-direction: row;
        justify-content: space-between;
    }
    .img-1-container,
    .img-2-container,
    .img-3-container,
    .img-4-container,
    .img-5-container,
    .img-6-container,
    .img-7-container,
    .img-8-container,
    .img-9-container,
    .img-10-container {
        width: 45%;
    }
    .small-img-1,
    .small-img-2,
    .small-img-3,
    .small-img-4,
    .small-img-5,
    .small-img-6,
    .small-img-7,
    .small-img-8,
    .small-img-9,
    .small-img-10 {
        height: 235px;
        border: 1vw solid #42842e;
        border-style: groove;
    }
    .img-text {
        font-size: 1.2rem;
    }
    #a-1,
    #a-2,
    #a-3 {
    font-size: 1.2rem;
    border-bottom: .4vw solid #42842e;
}
}

/* XXL */
@media (min-width: 1401px) and (max-width: 1600px) {
    .header-info {
        font-size: 3.3rem;
    }
    .header-img {
        max-width: 20%;
    }
    nav button a {
        font-size: 1.2rem;
    }
    .about-container,
    .projects-container,
    .contact-container {
        flex-direction: row;
    }
    .h2-about-col,
    .h2-contact-col {
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 2.4rem;
        border-right: .4vw solid #42842e;
    }
    .h2-projects-col {
        flex-wrap: wrap;
        font-size: 2.4rem;
        border-right: .4vw solid #42842e;
        justify-content: center;
        padding-bottom: 140%;
    }
    .p-about-col,
    .images-col,
    .contact-col {
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 1.3rem;
        margin-left: 5%;
    }
    h2 {
        width: 50%;
    }
    .large-img {
        height: 450px;
        border: 1vw solid #42842e;
        border-style: groove;
    }
    .small-img-container-1,
    .small-img-container-2,
    .small-img-container-3 {
        flex-direction: row;
        justify-content: space-between;
    }
    .img-1-container,
    .img-2-container,
    .img-3-container,
    .img-4-container,
    .img-5-container,
    .img-6-container,
    .img-7-container,
    .img-8-container,
    .img-9-container,
    .img-10-container {
        width: 45%;
    }
    .small-img-1,
    .small-img-2,
    .small-img-3,
    .small-img-4,
    .small-img-5,
    .small-img-6,
    .small-img-7,
    .small-img-8,
    .small-img-9,
    .small-img-10 {
        height: 250px;
        border: 1vw solid #42842e;
        border-style: groove;
    }
    .img-text {
        font-size: 1.2rem;
    }
    #a-1,
    #a-2,
    #a-3 {
    font-size: 1.2rem;
    border-bottom: .3vw solid #42842e;
}
}

/* XXL */
@media (min-width: 1601px) and (max-width: 1800px) {
    .header-info {
        font-size: 3.5rem;
    }
    .header-img {
        max-width: 20%;
    }
    nav button a {
        font-size: 1.2rem;
    }
    .about-container,
    .projects-container,
    .contact-container {
        flex-direction: row;
    }
    .h2-about-col,
    .h2-contact-col {
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 2.5rem;
        border-right: .4vw solid #42842e;
    }
    .h2-projects-col {
        flex-wrap: wrap;
        font-size: 2.5rem;
        border-right: .4vw solid #42842e;
        justify-content: center;
        padding-bottom: 140%;
    }
    .p-about-col,
    .images-col,
    .contact-col {
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 1.4rem;
        margin-left: 5%;
    }
    h2 {
        width: 50%;
    }
    .large-img {
        height: 500px;
        border: 1vw solid #42842e;
        border-style: groove;
    }
    .small-img-container-1,
    .small-img-container-2,
    .small-img-container-3 {
        flex-direction: row;
        justify-content: space-between;
    }
    .img-1-container,
    .img-2-container,
    .img-3-container,
    .img-4-container,
    .img-5-container,
    .img-6-container,
    .img-7-container,
    .img-8-container,
    .img-9-container,
    .img-10-container {
        width: 45%;
    }
    .small-img-1,
    .small-img-2,
    .small-img-3,
    .small-img-4,
    .small-img-5,
    .small-img-6,
    .small-img-7,
    .small-img-8,
    .small-img-9,
    .small-img-10 {
        height: 275px;
        border: 1vw solid #42842e;
        border-style: groove;
    }
    .img-text {
        font-size: 1.2rem;
    }
    #a-1,
    #a-2,
    #a-3 {
    font-size: 1.3rem;
    border-bottom: .3vw solid #42842e;
}
}