/* MAIN COLORS & FONT SIZES */
:root {
    --main-text-color: rgb(255, 255, 255);
    --header-footer-color: rgb(22, 66, 13);
    --main-background-color: rgb(142, 179, 142);
    --nav-background-color: rgb(93, 139, 88);
    --content-font-size: 1.5rem;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--main-text-color);
    background-color: var(--main-background-color);
}

/* HEADER */
.header {
    background-color: var(--header-footer-color);
    padding-top: 3%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    color: var(--main-text-color);
    text-align: center;
}

/* NAV */
nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: var(--nav-background-color);
    padding-bottom: .05%;
    justify-content: space-evenly;
}

nav button a {
    color: var(--main-text-color);
    text-decoration: none;
    font-size: 1.5rem;
}

button {
    width: 25%;
    margin-top: .10%;
    margin-bottom: .15%;
    padding-top: .3%;
    padding-bottom: .2%;
    background-color: #42842e;
    border: .12vw solid rgb(22, 66, 13);
}

button:hover {
    background-color: rgb(22, 66, 13);
}

/* ALL SECTIONS */
.row {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 5%;
}

.row h2 {
    padding-top: .2%;
    border-right: .35vw solid #42842e;
    margin-top: 5%;
    margin-bottom: 2%;
    flex: 0 0 27%;
    font-size: 3rem;
}

.row p {
    margin-left: 5%;
    margin-top: 5.5%;
    margin-bottom: 3%;
}

/* ABOUT ME */
.p-1 {
    font-size: var(--content-font-size);
    max-width: 63.5%;
}

/* PROJECTS */
#img1 { 
    width: 89%;
    margin-left: 2.2%;
    margin-top: 3%;
    margin-bottom: -15%;
    border: 1vw solid #42842e;
    border-style: groove;
} 

#img2 {
    width: 45%;
    margin-left: 2.2%;
    border: 1vw solid #42842e;
    border-style: groove;
}

#img3 {
    width: 40%;
    margin-left: 3.3%;
    border: 1vw solid #42842e;
    border-style: groove;

}

.img1-text {
  position: relative;
  display: inline-block;
  font-size: 3rem;
  bottom: -1.8%;
  left: 8.7%;
  background-color: var(--header-footer-color);
  color: var(--main-text-color);
  padding: 10px;
}

.img2-text {
  position: relative;
  display: inline-block;
  font-size: 3rem;
  bottom: 10.5%;
  left: 8.7%;
  background-color: var(--header-footer-color);
  color: var(--main-text-color);
  padding: 10px;
}

.img3-text {
  position: relative;
  display: inline-block;
  font-size: 3rem;
  bottom: 10.5%;
  left: 27.9%;
  background-color: var(--header-footer-color);
  color: var(--main-text-color);
  padding: 10px;
}

/* CONTACT ME */
.p-3 {
    max-width: 100%;
    display: flex;
    flex: auto;
}

.a-1 {
    font-size: 1.5rem;
    text-decoration: none;
    color: inherit;
    border-bottom: .3vw solid #42842e;
}

.a-2 {
    font-size: 1.5rem;
    text-decoration: none;
    color: inherit;
    margin-left: 5%;
    border-bottom: .3vw solid #42842e;
}

.a-3 {
    font-size: 1.5rem;
    text-decoration: none;
    color: inherit;
    margin-left: 5%;
    border-bottom: .3vw solid #42842e;
}

/* FOOTER */
.footer {
    background-color: var(--header-footer-color);
    color: var(--main-text-color);
    padding-top: 3%;
}